.BG
.FN mahal.dist
.TL
Calculate mahalanobis distances
.CS
mahal.dist(data, model)
.RA
.AG data
A matrix of numerical data points.
.AG model
A gaussian model as returned by the `train' function.
.RT
A matrix of distances with one column for every class (label) in the
gaussian model.  
.DT
The `train' function finds the centroids and covariance matrices for a
set of data and corresponding labels: one per unique label.  This
function can be used to find the mahalanobis distance of every data
point in a dataset to each of the class centroids.  The columns of the
resulting matrix are marked with the label of the centroid to which
they refer.  The function `mahal' should be used if you want to find
the closest centroid to each data point. 
.SA
train, mahal, bayes.lab, bayes.dist
.KW mu
.WR
